<div class="subpage-header">
  <h2>Your Brands</h2>
</div>

<div class="row">
  <div class="col-sm-6">
    <% if @brands.any? %>
      <ul class="object-list">
        <% @brands.each do |brand| %>
          <li><%= brand.name %> - <%= brand.price %></li>
        <% end %>
      </ul>
    <% else %>
      <p class="empty-list">You have not added any brands yet!</p>
    <% end %>
  </div>

  <div class="col-sm-6">
    <h3>Add a Brand</h3>
    <form class="" action="/brands/add" method="post">
      <div class="form-group <%= @brand != nil ? 'has-error' : nil %>">
        <label for="name" class="control-label">Brand Name</label>
        <input type="text" name="name" class="form-control">
      </div>

      <div class="form-group">
        <label for="price" class="control-label">Price (USD)</label>
        <input type="number" name="price" class="form-control" step="0.01" min="0.00" placeholder="0.00">
      </div>

      <% if @brand %>
        <div class="alert alert-danger">
          <% @brand.errors.full_messages.each do |message| %>
            <%= message + ". " %>
          <% end %>
        </div>
      <% end %>

      <button type="submit" class="btn btn-primary">Add Brand</button>
    </form>
  </div>
</div>
