<h2>Welcome!</h2>

<p class="intro">This website will track your stores, as well as the brands that they stock. You can manage your stores and brands using the tabs above, or get started below:</p>

<ul>
  <li><a href="/stores">Manage or add stores</a></li>
  <li><a href="/brands">Manage or add brands</a></li>
</ul>
