<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Lato|Righteous" rel="stylesheet">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    </script>
    <title>Superb Shoes</title>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">

        <h1>Superb Shoes</h1>

        <ul class="nav nav-pills">
          <li class="<%= @section == 'home' ? 'active' : nil %>"><a href="/">Home</a></li>
          <li class="<%= @section == 'stores' ? 'active' : nil %>"><a href="/stores">Stores</a></li>
          <li class="<%= @section == 'brands' ? 'active' : nil %>"><a href="/brands">Brands</a></li>
        </ul>

      </div>
    </div>

    <div class="container">

      <%= yield %>

    </div>
  </body>
</html>
