<h2>Your Stores</h2>

<% if @stores.any? %>
  <ul>
    <% @stores.each do |store| %>
      <li><a href="/stores/<%= store.id %>"><%= store.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>You have not added any stores yet!</p>
<% end %>

<h3>Add a Store</h3>
<form class="" action="/stores/add" method="post">
  <div class="form-group">
    <label for="name" class="control-label">Store Name</label>
    <input type="text" name="name" class="form-control">
  </div>
  <button type="submit" class="btn">Create Store</button>
</form>
