body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4 {
  font-family: 'Righteous', cursive;
}

.jumbotron {
  padding-bottom: 1rem;
}

.jumbotron h1 {
  margin-bottom: 2rem;
}

.subpage-header {
  border-bottom: 1px solid #eee;
}

.subpage-header h2 {
  font-size: 40px;
  display: inline;
}

.subpage-header h5 {
  display: inline-block;
  margin-left: .6em;
}

.object-list {
  margin-top: 20px;
}

.brand-remove {
  display: inline;
}

.brand-remove .btn {
  display: inline;
  width: fit-content;
  padding: 0px;
  height: 24px;
  vertical-align: top;
  background-color: transparent;
  color: #337ab7;
}

.brand-remove .btn:hover {
  color: #235784;
  text-decoration: underline;
}
